.header__lang-link_en {
    color: white;
    max-width: 29px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.header__lang-link_en:hover {
    transition: .7s ease;
    opacity: .8;
    }

    @media screen and (max-width: 424px) {
        .header__lang-link_en {
        max-width: 22px;
        font-size: 18px;
        line-height: 20px;
        }
    }