.cover__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 360px;
    margin: 32px 412px 0 412px;
}

@media screen and (max-width: 1023px) {
    .cover__subtitle {
        margin: 32px 204px 0 204px;
    }
}

@media screen and (max-width: 424px) {
    .cover__subtitle {
        width: 288px;
        font-size: 14px;
        line-height: 16px;
        margin: 16px 16px 0 16px;
    }
}