.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    align-items: flex-start;
}

@media screen and (max-width: 767px) {
    .place__website {
        padding: 0 16px 0 16px;
    }
}